<div class="card-custom">
  <div class="d-flex align-items-center gap-2 mb-4">
    <div class="bg-light p-2 rounded-circle text-primary">
      <i class="fa-solid fa-plus"></i>
    </div>
    <h5 class="mb-0">New Transaction</h5>
  </div>

  <form [formGroup]="expenseForm" (ngSubmit)="onSubmit()">
    
    <div class="mb-3">
      <label class="form-label small fw-bold text-muted">Title</label>
      <input type="text" class="form-control" formControlName="title" placeholder="e.g. Netflix Subscription">
    </div>

    <div class="row">
      <div class="col-6 mb-3">
        <label class="form-label small fw-bold text-muted">Amount</label>
        <div class="input-group">
          <span class="input-group-text border-end-0 bg-white text-muted">₹</span>
          <input type="number" class="form-control border-start-0 ps-0" formControlName="amount" placeholder="0.00">
        </div>
      </div>
      <div class="col-6 mb-3">
        <label class="form-label small fw-bold text-muted">Date</label>
        <input type="date" class="form-control" formControlName="date">
      </div>
    </div>

    <div class="mb-4">
      <label class="form-label small fw-bold text-muted">Category</label>
      <select class="form-select" formControlName="category">
        <option value="" disabled selected>Select Category</option>
        <option value="Food">Food & Dining</option>
        <option value="Travel">Transportation</option>
        <option value="Utilities">Utilities & Bills</option>
        <option value="Entertainment">Entertainment</option>
        <option value="Other">  Miscellaneous</option>
      </select>
    </div>

    <button type="submit" class="btn btn-gradient shadow-sm" [disabled]="expenseForm.invalid">
      Add Transaction
    </button>
  </form>
</div>